body {
  background-color: #262626;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.play-button {
  background-color: #403f3f;
  width: 8em;
  color: red;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
}

.banner {
  min-height:  20px;
  position: relative;
  padding: 0.5%;
}

.logo {
  font-family: 'Ultra', serif;
  color: #106bcc;
  float: left;
  position: absolute;
  left: 1%;
}

.search-section {
  position: relative;
}

.exit-search {
  position: absolute;
  left: 1%;
  background-color: #262626;
  border: #262626;
  color: white;
  font-size: 2em;
}

.exit-search:hover {
  color: grey;
}

.search-box {
  float: left;
  position: absolute;
  left: 40%;
}

.search-bar {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}

.search-button {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.user-panel {
  float: left;
  position: absolute;
  left: 90%;
}

.movie-list {
  overflow: auto;
  height: 280px;
  white-space: nowrap;
}

.movie-tile {
  display: inline-block;
  height: 250px;
  width: 150px;
  margin:10px 10px;
  background-size: cover;
}

.movie-backdrop {
  height: 450px;
  width: auto;
  background-color: white;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.movie-deets {
  position: absolute;
  padding: 0px 10px;
  top: 50%;
  height: 50%;
  width: 100%;
  background-color: rgba(1,1,1,0.5);
  box-shadow: -1em -0.1em 2em black;
  text-align: left;
}

.movie-deets h1 {
  font-size: 3em;


}

.movie-tile:hover {
  box-shadow: 0.2em 0.2em 1em grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
